
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #7E6F1D;
    flex-wrap: wrap;
}


header {
    padding: 20px 0;
    border-bottom: 4px solid #7E6F1D;
    background-color: #000;
    justify-content: center;  
    align-items: center;
    
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;      
    max-width: 1200px;
    margin: auto;
    gap: 18px;        
}


.menu h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #7E6F1D;
}


.botao {
    display: flex;
    gap: 25px;

}

.botao a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: ease 0.3s;
 
}

.botao a:hover {
    color: #DEC541;
    transform: translateY(-2px);
}


.titulo-principal{
    margin-top: 5%;
}

.titulo {
    text-align: center;
    font-size: 40px;
    margin: 40px 0;
    color: #7E6F1D;
    
}


.fre, 
.rockt_legue,
.fifa,
.Mortal_combate,
.Mario_card,
.cs,
.clash,
.luta {
    max-width: 1100px;
    margin: 30px auto;
    background-color: #141313;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 13px 15px #7E6F1D;
    transition: ease 0.4s;
    text-align: center;
}

.fre:hover, 
.rockt_legue:hover,
.fifa:hover,
.Mortal_combate:hover,
.Mario_card:hover,
.cs:hover,
.clash:hover,
.luta:hover {
    transform: translateY(-8px);
    background-color: #232323;
    color: #DEC541;
}


.fre h1,
.rockt_legue h1,
.fifa h1,
.Mortal_combate h1,
.Mario_card h1,
.cs h1,
.clash h1,
.luta h1 {
    font-size: 32px;
    color: #7E6F1D;
    margin-bottom: 15px;
    
}


.fre img,
.rockt_legue img,
.fifa img,
.Mortal_combate img,
.Mario_card img,
.cs img,
.clash img,
.luta img {
    margin: 20px 0;
    transition: ease 0.3s;
}

.fre img:hover,
.rockt_legue img:hover,
.fifa img:hover,
.Mortal_combate img:hover,
.Mario_card img:hover,
.cs img:hover,
.clash img:hover,
.luta img:hover {
    transform: translateY(-20px);
}


.fre p,
.rockt_legue p,
.fifa p,
.Mortal_combate p,
.Mario_card p,
.cs p,
.clash p,
.luta p {
    font-size: 19px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
    transform: translateY(-20px);
}


.fre a,
.rockt_legue a,
.fifa a,
.Mortal_combate a,
.Mario_card a,
.cs a,
.clash a,
.luta a {
    display: inline-block;
    padding: 12px 25px;
    background-color: #7E6F1D;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 'Helvetica Neue';
    transition: ease 0.4s;
   
}

.fre a:hover,
.rockt_legue a:hover,
.fifa a:hover,
.Mortal_combate a:hover,
.Mario_card a:hover,
.cs a:hover,
.clash a:hover,
.luta a:hover {
    background-color: #7E6F1D;
    padding: 12px 25px;
    background-color: #7E6F1D;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    font-weight: 'Helvetica Neue';
   
}



footer {
    background-color: #000;
    padding: 25px 0;   
    border-top: 4px solid #7E6F1D;
    width: 100%;
}

.produtores {
   
    text-align: center;
    
}

.produtores p {
    
    font-size: 16px;
    font-weight: bold, Arbutus Slab, Explora;
    color: #7E6F1D;
    flex-wrap: wrap;
    
}
